@import 'normalize.scss';
@import 'fonts.scss';
@import 'icons.scss';

/* Variables */
$link-color: #D4D6D4;
$link-hover-color: #FFD723;
$container-width: 1110px;

/* Global styles */
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

image {
  max-width: 100%;
  height: auto;
}

/* Common and utility classes */
.container {
  max-width: $container-width;
  margin: 0 auto;
}

.link {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: $link-color;

  position: relative;
  margin-left: 6px;
  padding-left: 2px;
  text-decoration: underline;

  &::before {
    content: "\00a0 \00a0";
  }

  &::after {
    content: ' ';
    position: absolute;
    left: -6px;
    top: 8px;
    width: 5px;
    height: 9px;
    
    background-image: url("data:image/svg+xml, #{$icon-caret}");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: cover;
  }

  &:hover {
    color: $link-hover-color;
    text-decoration: underline;

    &::after {
      background-image: url("data:image/svg+xml, #{$icon-caret-hover}");
    }
  }
}


/* Blocks */
.header {
  position: absolute;
  width: 100%;
  padding-top: 23px;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.logo {
  height: 40px;
  width: 256px;
}

.burger {
  width: 40px;
  height: 40px;
  position: relative;
  margin-top: 3px;


  border: none;
  padding: 0;

  border-radius: 50%;
  background: #F5F6F7;
  cursor: pointer;

  &__line {
    position: absolute;
    top: 14px;
    left: 11px;

    width: 18px;
    height: 2px;
    background: #000;

    &::before, &::after {
      content: '';
      position: absolute;
      left: 0;
      width: inherit;
      height: inherit;
      background: inherit;
    }
    &::before {
      top: 5px;
    }
    &::after {
      top: 11px;
    }
  }

}


/* hero */
.hero {
  background-image: url("/images/header-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  padding-top: 187px;
  padding-bottom: 210px;

  &__content {
    max-width: 616px;
    color: #fff;
  }

  &__subtitle {
    font-size: 14px;
    line-height: 21px;
  }

  &__title {
    margin: 0px;
    margin-top: 22px;

    font-weight: 700;
    font-size: 60px;
    line-height: 74px;
  }

  &__description {
    margin: 0;
    margin-top: 24px;
    margin-bottom: 48px;
    
    font-size: 16px;
    line-height: 26px;
  }

  &__link {
    color: $link-hover-color;
    border-bottom-color: $link-hover-color;
    &::after {
      background-image: url("data:image/svg+xml, #{$icon-caret-hover}");
    }
  }
}
/* /hero */


/* Services */
.services {
  margin-bottom: 46px;
  &__title {
    margin: 0;
    margin-top: 150px;

    font-family: Poppins;
    font-weight: 700;
    font-size: 36px;
    line-height: 46px;

    max-width: 607px;

    color: #4D533C;
  }

  &__list {
    list-style: none;
    margin: 0;
    margin-top: 58px;

    padding: 0;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
  }

  &__item {
    margin: 0;
    padding: 0;
    max-width: 255px;
  }
}
.card {
  padding: 27px 30px 30px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &__header {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 34px;

    text-transform: uppercase;

    margin: 0;
    padding: 0;

    color: #4D533C;
  }

  &__description {
    max-width: 194px;
    margin: 0;
    padding: 0;
    margin-top: 22px;
    margin-bottom: 30px;

    font-family: Poppins;
    font-size: 14px;
    line-height: 26px;
    color: rgba(33, 56, 66, 0.6);
  }

  &__actions {
    margin-top: auto;
  }
}
/* /Services */


/* Call to Action */
.call-action {
  max-width: 1275px;

  padding-left: calc((100% - #{$container-width}) / 2);
  padding-top: 67px;
  padding-bottom: 70px;

  position: relative;
  top: 117px;
  
  background-color: #fafafa;
  box-shadow: 50px 130px 100px rgba(0, 0, 0, 0.145947);

  &__header {
    max-width: 822px;
    margin: 0;
    margin-bottom: 50px;

    font-family: Poppins;
    font-weight: 700;
    font-size: 60px;
    line-height: 74px;

    color: #4D533C;
  }

  &__link {
    text-transform: uppercase;
  }
}
/* /Call to Action */


/* Footer Blocks */
.footer {
  background-image: url("../images/footer-bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #4F553D;

  padding-top: 237px;

  &__contacts {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  &__contacts-item {

    &:last-child {
      margin-left: 130px;
    }
  }

  &__contacts-title {
    font-family: Poppins;
    font-size: 16px;
    line-height: 40px;
    color: #B6C197;
  }

  &__contacts-value {
    display: block;
    margin-top: 8px;
    font-family: Poppins;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    line-height: 40px;
    color: #FFFFFF;

    text-decoration: none;
  }

  &__middle {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;

    margin-top: 52px;
    padding-top: 60px;
    border-top: 1px solid #5D6544;

    .links-column:last-child {
      padding-left: 110px;
      border-left: 1px solid #5D6544;
    }
  }

  &__bottom {
    margin-top: 60px;
    padding-top: 24px;
    border-top: 1px solid #5D6544;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__copyright {
    font-family: Poppins;
    font-size: 14px;
    line-height: 21px;
    color: #B5C096;

    margin-right: 26px;
  }
}

/* Links to social networks */
.social {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;

  &__item {

    &:not(:last-child) {
      margin-right: 11px;
    }
  }

  &__link {
    display: block;
    width: 33px;
    height: 33px;
    border-radius: 50%;

    color: #5E6648;

    background-color: #444A34;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 18px;

    &:hover {
      background-color: #FFD723;
    }

    &--fb {
      background-size: 14px;
      background-image: url("data:image/svg+xml, #{$icon-fb}");
      &:hover {
        background-image: url("data:image/svg+xml, #{$icon-fb-hover}");
      }
    }
  
    &--tw {
      background-image: url("data:image/svg+xml, #{$icon-tw}");
      &:hover {
        background-image: url("data:image/svg+xml, #{$icon-tw-hover}");
      }
    }
  
    &--gp {
      background-image: url("data:image/svg+xml, #{$icon-gp}");
      &:hover {
        background-image: url("data:image/svg+xml, #{$icon-gp-hover}");
      }
    }
  
    &--in {
      background-image: url("data:image/svg+xml, #{$icon-in}");
      &:hover {
        background-image: url("data:image/svg+xml, #{$icon-in-hover}");
      }
    }
  }
}

.links-column {

  &__title {
    margin: 0;
    margin-bottom: 21px;

    font-family: Poppins;
    font-weight: 600;
    font-size: 16px;
    line-height: 38px;
    text-transform: uppercase;

    color: #FFFFFF;
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__link {
    font-family: Poppins;
    font-size: 16px;
    line-height: 40px;
    color: #B6C197;

    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

  &__text {
    margin: 0;
    padding: 0;
    padding-top: 2px;
    max-width: 270px;

    font-family: Poppins;
    
    font-size: 16px;
    line-height: 26px;
    color: #B6C197;
  }

  &__email {
    display: block;
    margin-top: 22px;

    font-family: Poppins;
    font-weight: 700;
    font-size: 24px;
    line-height: 38px;
    color: #FFFFFF;
  }

  &__social {
    margin-top: 24px;
  }
}
